/* ESTILOS FORMATADOS */
* {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
  text-decoration: none;
  font-family: Fira;
  color: black;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
}
img,
h1 {
  max-width: 100%;
  display: block;
}

/* PAGINA */
.page {
  max-width: 64rem;
  margin: 0rem auto;
  padding: 0rem 1.2rem;
  display: grid;
}

/* CABEÇALHO */
.cabeçalho-item {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0rem;
  align-items: center;
}
.navegaçao {
  display: flex;
  gap: 1rem;
}

/* INTRODUÇÃO */
.introduçao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6rem;
  align-items: center;
}
.introduçao-item {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 25rem;
  position: relative;
}
.introduçao-item h1 {
  font-size: 3.5rem;
  font-weight: 800;
}
.introduçao-item p {
  font-size: 1.5rem;
  color: #8f8f8f;
}
.introduçao-item::after {
  content: "";
  width: 12.5rem;
  height: 12.5rem;
  background-image: url("../img/detalhe.svg");
  background-size: 6rem;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: -20px;
  left: -30px;
}

/* EXPERIÊNCIA */
.experiencia {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: flex-start;
  gap: 4.5rem;
  padding: 4rem 0rem;
}
.container-detalhe {
  max-width: 20rem;
}
.container-detalhe h2 {
  color: #e0e0e0;
  font-size: 8rem;
  line-height: 1;
  word-break: break-all;
}
.experiencia-item {
  display: grid;
  gap: 2rem;
}
.experiencia-paragrafo {
  padding-right: 6rem;
}
.experiencia-paragrafo p {
  font-size: 1.4rem;
  color: #525252;
}
.experiencia-container {
  display: grid;
  gap: 1rem;
}
.experiencia-container section:nth-child(n) {
  background-color: #e0e0e0;
  border-radius: 0.2rem;
}
.experiencia-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  padding: 1rem;
  font-size: 0.8rem;
}
.experiencia-section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-content: flex-start;
}
.experiencia-section ul li {
  padding: 0.2rem 0.4rem;
  background-color: #fff;
  border-radius: 0.2rem;
}
