* {
  font-size: 1.2rem;
}
h2 {
  font-size: 1.5rem;
}

/* Cabeçalho */
.header-logo {
  font-size: 1.5rem;
}
.header-foto-perfil {
  max-width: 15rem;
}
.header-paragrafo {
  font-weight: 500;
  font-size: 1.5rem;
}

/* contato */
.contato a {
  font-size: 1.2rem;
  font-weight: 500;
}

/* portfolio */
.portfolio {
  gap: 0px;
}
.portfolio-item a img {
  padding: 0rem;
  border: 2px solid #000000;
  border-radius: 10px !important;
}

.hover:hover {
  color: blueviolet !important;
}

.hover2:hover {
  padding: 0.4rem 1rem;
  border-radius: 10px;
  background-color: blueviolet;
  color: #ffffff !important;
}
.hover2 i:hover {
  color: #ffffff !important;
}

/* Rodapé */
.footer h4 {
  color: blueviolet !important;
}

.link-footer {
  color: #ffffff !important;
}

.link-footer:hover {
  color: blueviolet !important;
}

@media only screen and (max-width: 500px) {
  .header-navegacao {
    padding: 1rem 0.5rem !important;
  }
  .sobre,
  .formulario {
    padding: 1rem !important;
  }
  .footer-section {
    flex-direction: column;
  }
}

/* Pagina email.php */
.corpo-email-php {
  display: flex !important;
  flex-direction: column !important;
  justify-items: center !important;
  align-items: center !important;
  background-color: #8d8d8d;
  color: #ffffff;
}
.clique-aqui {
  text-decoration: none;
  color: blueviolet;
}

.clique-aqui:hover {
  color: #000000 !important;
}
